* {
  box-sizing: border-box;
}

html {
  font-size: 8px;
}

body {
  min-height: 100vh;
  margin: 0;
  background-color: #F1F5F8;
}

.img {
  padding: 2rem;
  text-align: center;
}

.img img {
  width: 30rem;
  height: 30rem;
}

.content {
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 0.25rem;
  font-family: 'Roboto', sans-serif;
  color: #923EBC;
  padding: 0.5rem;
  height: 3rem;
}

.anchor {
  border: 0.5rem solid purple;
  text-decoration: none;
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 0.25rem;
  font-family: 'Roboto', sans-serif;
  color: #222;
  padding: 0.5rem;
  height: 4rem;
  width: 50%;
  margin: auto;
  margin-top: 2rem;
}

a {
  text-decoration: none;
}